<!DOCTYPE html>
<html>
<head>
  <title>Menú de Fotos</title>
</head>
<body>
  <h1>Menú de Fotos</h1>

  <ul>
    <li><a href="/fotos/findAll/view">Ver Todas las Fotos</a></li>
    <li><a href="/fotos/fotosPorRango">Ver Fotos por Rango</a></li>
    <li><a href="#">Insertar Foto</a></li>
    <li><a href="#">Actualizar Foto</a></li>
  </ul>

  <%- body %>

</body>
</html>